{% load static %}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h3 class="page-title">SISTEM PERINGATAN DINI BANJIR ROB MENGGUNAKAN JARINGAN SARAF TIRUAN</h3>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4> Apa Itu Banjir Rob?</h4>
                    <p style="font-size:18px;">Banjir rob adalah banjir pesisir yang disebabkan oleh kombinasi ketinggian muka air, yang mungkin disebabkan oleh pasang surut dan gelombang badai, sering disertai dengan gelombang tinggi, yang menyebabkan meluapnya air laut 
                    dan menggenangi daerah dataran rendah yang berpotensi menyebabkan kerugiaan jiwa dan material (Wolf, 2008). <br>
                    Faktor utama yang menyebabkan terjadinya banjir rob adalah kenaikan muka air laut yang disebabkan oleh pasang surut air laut.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 style="font-size:18px;" class="card-title m-b-0">Klasifikasi Potensi Banjir Rob</h5>
                 <div class="card">
                <div class="card-body">
                </div>
                <table class="table">
                      <thead>
                        <tr>
                          <th style="font-size:16px;" scope="col">Status</th>
                          <th style="font-size:16px;"scope="col">Water Level</th>
                          <th style="font-size:16px;" scope="col">Bulan</th>
                          <th style="font-size:16px;" scope="col">Keterangan</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th style="font-size:16px;" scope="row">0</th>
                          <td style="font-size:16px;">< 1.5 m</td>
                          <td style="font-size:16px;">Januari - Desember</td>
                          <td style="font-size:16px;">Tidak Berpotensi Banjir Rob</td>
                        </tr>
                        <tr>
                          <th style="font-size:16px;" scope="row">1</th>
                          <td style="font-size:16px;">> 1.5 m</td>
                          <td style="font-size:16px;">Januari, Februari, Juni, Juli,<br>
                          Oktober, November, Desember</td>
                          <td style="font-size:16px;">Berpotensi Banjir Rob</td>
                        </tr>
                        
                      </tbody>
                </table>
            </div>
                </div>
            </div>
        </div> 
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
    </div>