{% load static %}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h3 class="page-title">SISTEM PERINGATAN DINI BANJIR ROB MENGGUNAKAN JARINGAN SARAF TIRUAN</h3>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">

                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title m-b-0">Jaringan Saraf Tiruan</h4><br>
                    <p style="font-size:18px;"> Jaringan Saraf Tiruan (JST) merupakan simulasi proses pembelajaran yang
                        merepresentasikan sistem pembelajaran pada otak manusia.
                        Istilah buatan digunakan karena jaringan syaraf ini diimplementasikan dengan menggunakan program
                        komputer yang mampu menyelesaikan sejumlah proses perhitungan
                        selama proses pembelajaran (Sri Kusumadewi, 2004).</p> <br>
                    <p style="font-size:18px;"> <b>Pengelompokan JST</b> <br>
                        - Koneksi Antar Neuron: Feedforward, Feedback.<br>
                        - Algoritma: Backpropagation, Delta Learning Rule, Forwarpropagation, Hebb Learning Rule,
                        Simulated Annealing.<br>
                        - Metode Pembelajaran: Supervised Learning, Unsupervised Learning.<br><br>
                        <b>Tipe Arsitektur</b><br>
                        - Single Layer Net.<br>
                        - Multi Layer Net. <br>
                        - Recurrent Net.<br>

                    </p>
                </div>
            </div>
            <!-- Tabs -->
        </div>
        <!-- card -->

    </div>
</div>