{% load static %}

<!-- <div class="modal fade" id="ModalAWS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Status Potensi Banjir Rob</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <TABLE>
                        <tr>
                            <td>
                                <label for="level">Water Level : </label>
                                <input type="number" name="level" id="level" step="0.01">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="bulan">Bulan (1-12): </label>
                                <input type="number" name="bulan" id="bulan" step="0.01">
                            </td>

                        </tr>

                    </TABLE>
                    <label> Status : {{hasil}} </label>
                </div>
                <div class="modal-footer">
                    <button onclick="proceed();" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Periksa</button>
                </div>
            </form>
        </div>
    </div>
</div> -->
