{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>JST-Banjir Rob</title>
    <!-- Custom CSS -->
    <link href="{% static 'assets/libs/flot/css/float-chart.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">

</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">

        <!-- sidebar -->
        {% include 'snippets/navbar.html' %}
        <!-- end sidebar -->

        <!-- konten -->
        <div class="page-wrapper">
            {% include konten %}
        </div>


        <!-- footer -->
        {% include 'snippets/footer.html' %}

    </div>
    <!-- modal aws -->
    {% include 'snippets/modalsaws.html' %}

    <!-- modals manual -->
    {% include 'snippets/modalsmanu.html' %}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'dist/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'dist/js/custom.min.js' %}"></script>
    {% csrf_token %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script type="text/javascript">
        var d = new Date();
        var dd = d.getUTCDate();
        var m = d.getUTCMonth() + 1;
        var y = d.getUTCFullYear();
        var jam = d.getUTCHours();
        var menit = d.getUTCMinutes();
        var detik = d.getUTCSeconds();
        var timenow = jam + ":" + menit + ":" + detik;
        var timelast = (jam - 1) + ":" + menit + ":" + detik;
        var tglnow = y + "-" + m + "-" + dd;

        function kirimNilai(level, tgl, month) {
            axios.get('http://jst-banjir-rob.my.id:8000/coba/?level=' + level + '&bulan=' + month)
                .then(function (response) {
                    var data = response.data
                    $("#water").val(data.level);
                    $("#tanggal").val(tgl);
                    $("#hasilRealtime").val(data.hasilreal);
                })
        }
        
        var url = 'https://cors-anywhere.herokuapp.com/http://202.90.199.132/aws-new/data/station/3000000009/' +
            tglnow + "/" + timelast + "/" + tglnow + "/" + timenow;
        axios.get(url)
            .then(function (response) {
                var data = response.data.aaData[response.data.aaData.length - 1]
                var waktu = moment().format('D MMMM YYYY, h:mm:ss a');
                kirimNilai(data.waterlevel, waktu, moment().format('M'))
            })

        setInterval(function () {
            var url =
                'https://cors-anywhere.herokuapp.com/http://202.90.199.132/aws-new/data/station/3000000009/' +
                tglnow + "/" + timelast + "/" + tglnow + "/" + timenow;
            axios.get(url)
                .then(function (response) {
                    var data = response.data.aaData[response.data.aaData.length - 1]
                    var waktu = moment().format('D MMMM YYYY, h:mm:ss a');
                    kirimNilai(data.waterlevel, waktu, moment().format('M'))
                })
        }, 300000);
        
    </script>
</body>

</html>
